.NavigationItems {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
    height: 100%;
    flex-flow: column;
}

.NavigationItem {
    box-sizing: border-box;
    margin: 0;
    display: flex;
    height: 100%;
    width: auto;
    align-items: center;
}

.NavigationItem a {
    color: #fe0f47;
    text-decoration: none;
    width: 100%;
    border-bottom: 4px solid transparent;
    padding: 15px 10px;
}

.NavigationItem a:hover,
.NavigationItem a:active,
.NavigationItem a.active {
    background-color: #3b2232;
    color:#fe0f47;
}

@media (min-width: 500px) {
    .NavigationItems {
        flex-flow: row;
    }
}
