.AboutContainer {
    text-align: justify;
    background-color: rgba(0, 0, 0, 0.5);
}

.Bolding {
    color: #fe0f47;
}

.AboutTitle{
    margin-left: 15px;
}

.ContactLinks {
    margin-right: 15px;
    margin-top: 10px;
}

.AboutRow p {
    margin-right: 15px;
}

.AboutRow h2 {
    color: #ff5802;
    margin-bottom: 2px;
}

.AboutRow {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.AboutColumn {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
    margin-left: 15px;
}

@media (max-width: 800px) {
    .AboutRow {
        flex-direction: column;
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }
}
