.Footer {
    bottom: 0;
    background-color: #292929;
    text-align: center;
    height: 45px;
    z-index: 1;
    color: white;
}

.Footer a, a:visited, a:hover {
    text-decoration: none;
    color: #fe0f47;
}
