.AppContainer {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(assets/backgroundimage3.jpg);
    height: 100%;
}


.Leftcolumn {
    float: left;
    width: 20%;
}

.Rightcolumn {
    float: left;
    width: 80%;
    padding-left: 20px;
}

@media (max-width: 800px) {
    .Leftcolumn, .Rightcolumn {
        width: 100%;
        padding: 0;
    }
}
