.AppContainer {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(assets/backgroundimage2.jpg);
    height: 100%;
}

.HomeContainer {
    display: flex;
    height: 100%;
}

.Welcome {
    flex: 1;
    height: 100%;
}

.MoreInfo {
    flex: 4;
    background-color: rgba(41, 41, 41, 0.5);
    box-sizing: border-box;
    height: 100%;
}

@media (max-width: 499px) {
    .HomeContainer {
        display: block;
    }
}
